.App {
  text-align: center;
  height: 100vh;
  background-color: #222;
  /*position: fixed;*/
  /*overflow-y: scroll*/
}

.App-header {

  border-bottom: 2px solid #333;
  font-family: 'Special Elite', cursive;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 0px;
  font-size: 1.5em;
  color: #111;
  background-size: cover !important;
  background-position: center -13vh !important;
}

@media(min-width: 768px){
  .App-header {
    background-size: 125% !important;
    background-position: center -33vh !important;
  }
}

.App-header ul {
  z-index: 10000;
  color: #333;
  font-size: 1rem;
  margin: auto;
  padding: 0;
}

.App-header li {
  width: 30%;
  background-color: rgba(255, 255, 255, .6);
  border: 1px solid #333;
  display: inline-block;
  margin:auto;
}

.App-header h2 {
  /*padding: 10px;*/
  margin: 0;
}
