.App {
  text-align: center;
  height: 100vh;
  background-color: #222;
}

.App-header {
  background-color: #222;
  background: url("/img/crowd1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -13vh;
  border-bottom: 6px solid #333;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 20px;
  font-size: 2em;
  font-family: cursive;
  color: #333;
}

.App-header > h2 {
  /*padding: 10px;*/
  margin: 0;
}

.App-intro {
  font-size: large;
}
