ul {
  width: 90%;
  margin: 0;
  padding: 0;
  margin: auto;
  color: black;
}

.songClass {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin-bottom: .5rem;
  background-color: rgba(255, 255, 255, .5);
  color: black;
  list-style-type:none;
  list-style-position:inside;
};

.selectedClass {
  background-color: lightblue;
  box-shadow: 0 0 2px 2px lightblue;
}

.hidden {
  display: none;
}

.visible {
  display: inline;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.ReactModal__Overlay {
  z-index: 10
}

.ReactModal {
  z-index: 100;
  background: #cc3350 url('/img/sheets1.jpeg') no-repeat fixed;
}
